div.characterStatsBlock
  div.col-sm-5.panel
    div.abilityList
      form(editable-form, name="characterStatsForm", onaftersave="updateStats()", oncancel="cancel()")
        table.table
          thead
            td
              label stat
            td
              label value
            td
              label modifier
          tbody
            tr.noPadding(ng-repeat="ability in char.abilities")
              td
                label {{ ability.name || 'empty' }}
              td
                span(editable-text="ability.score", e-form="characterStatsForm", e-name="score") {{ ability.score || 'empty' }}
              td {{ ability.modifier }}
          div(class="btn-edit")
            button(type="button", class="btn btn-default", ng-show="!characterStatsForm.$visible", ng-click="characterStatsForm.$show()") edit
          div(class="btn-form" ng-show="characterStatsForm.$visible")
            // keeping for reference for next block
            // button(type="button", ng-disabled="characterStatsForm.$waiting", ng-click="addUser()", class="btn btn-default pull-right") add row
            button(type="submit", ng-disabled="characterStatsForm.$waiting", class="btn btn-primary") done
            button(type="button", ng-disabled="characterStatsForm.$waiting", ng-click="characterStatsForm.$cancel()", class="btn btn-default") cancel
