div.characterSavesBlock
  div.col-sm-6.Panel
    h3 Saves
    form(editable-form name="characterSavesForm", ng-controller="SaveController as abilitySave")
      div.col-sm-4(ng-repeat="save in character.saves")
        // TODO: Fix styling
        div
          label(style="display: inline")
            // inline here so that we can do the pull-right and line up the numbers
            h4(style="color: black; margin-top: 10px") {{ save.name }}
              span.pull-right {{ abilitySave.totalSave(save) }}
        div
          label Base Save
          span.pull-right(editable-text="save.base" e-name="base") {{ save.base }}
        div
          label Ability Modifier
          // (style="margin-left: 10px;" editable-text="save.ability" e-name="abilityMod")

          span.pull-right(style="margin-left: 10px;" editable-text="save.ability" e-name="abilityMod") {{ abilitySave.abilityModifier(abilitySave.getAbility(save)) }}
        div
          div(ng-repeat="mod in save.modifiers")
            label {{ mod.type }}
            span.pull-right(editable-text="mod.modifier" e-name="mod.type") {{ mod.modifier }}
      - var formName = 'characterSavesForm'
      include ./edit_button_block.jade
