div.characterStatsBlock
  div.col-sm-5.Panel
    h3 Stats
    div.abilityList
      form(editable-form, name="characterStatsForm", onaftersave="updateStats()", oncancel="cancel()")
        table.table.table-condensed
          thead
            td
              h4 Stat
            td
              h4 Value
            td
              h4 Modifier
          tbody
            tr.noPadding(ng-repeat="ability in char.abilities")
              td
                label {{ ability.name || 'empty' }}
              td
                span(editable-text="ability.score", e-form="characterStatsForm", e-name="score") {{ ability.score || 'empty' }}
              td {{ ability.modifier }}
        - var formName = 'characterStatsForm'
        include ./edit_button_block.jade
