doctype html
html(lang="en", ng-app="dndCharacterSheets", ng-controller="DndController")
  head
    title(ng-bind-template="{{ charName }}") Character Template
    link(rel="stylesheet", type="text/css", href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css")
    script(src="//code.jquery.com/jquery-1.11.0.min.js")
    script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js")
    script(src="/third-party/angular.js")
    script(src="/js/app.js")
    link(rel="stylesheet", type="text/css", href="/css/styles.css")
    script(src="/third-party/xeditable.min.js")
    link(rel="stylesheet", type="text/css", href="/third-party/xeditable.css")
  body
    div.container-fluid
      div.row
        div.center-col
          div.row
            div.container.col-sm-12(style="padding-left: 0px; padding-right: 0px;")
              include templates/character_info_block.jade
          div.row
            div.container.col-sm-12(style="padding-left: 0px; padding-right: 0px;")
              include templates/character_stats_block.jade
              include templates/character_saves_block.jade
